*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background:url('../img/bg.jpg')no-repeat center center;
    height: 600px;
    background-size: cover;
}
a{
    text-decoration: none;
}
.topnav{
    height: 60px;
    background-color:#41658E;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 50px;
    line-height: 3;
}
.logo{
    float: left;
    width: 30%;
}
.mainnav{
    float: right ;
    width: 70%;
    text-align: right;
    color: #ffff;   
}
.logoicon{
    font-size: 30px;
    color: #ffff;
    line-height: 2;
}
.navitem{
    color:#fff;
    margin-left: 30px;
    line-height: 3.5;
    display:inline-block;
    height: 60px;
    padding:  0 10px;
}
.navitem:hover{
    color:rgba(49, 247, 237, 0.8);
}
.active{
    background-color: #fff;
    color: #41658E;
}
.head{
    padding-top: 200px;
}
.sitetitle{
    background-color: #41658E;
    color: #fff;
    font-size: 50px;
    width: 50%;
    padding: 20px;
    margin-left: 50px;
}

.Services{
    padding: 25px;
    background-color:#EEEe;
    height: 410px;
}
.services_sec .sechead{
    text-align: center;
    color: #41658E;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 25px;
}
 .headhr{
    width: 15%;
    margin: auto;
    border: 1px solid #41658E;
    margin-bottom: 15px;
}
  .service {
  float: left;
     width: 32.33333%; 
     border: 1px solid #cccc;
     border-radius: 8px;
     padding:20px;
}
.service , .service2 ,.service2{
    margin-left: 1%;
   
}
.num{
    width: 50px;
    height: 50px;
    background-color: #41658E;
    color: #FFf;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    line-height: 1.5;
    margin-bottom: 20px;
}
.serviceName{
text-transform: capitalize;
color: #41658E;
margin-bottom: 20px;
font-size: 20px;
font-family:'Arial ';
letter-spacing: 1px;
}
.servicedescr{
    text-align: justify;
    line-height: 1.5;
    color: #6d5f5f;
}
.service:hover {
       border: 1px solid#cccc;
       cursor: pointer;
       background-color:#41658E;
}
.service:hover.num {
    background-color: #fff;
    color:#41658E; 
}
.service:hover .serviceName{
    color:#ffff; 
}
.service:hover .servicedescr{
    color:#ffff; 
}
.footer{
    background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
}
.footer{
    background:rgba(5, 13, 49, 0.9);
    background-size: cover;
    height: 300px;
    padding: 30px;
    color: #fff;
}
.side{
    float: left;
    width: 33.3333%;
    padding: 20px;
}
.side-title{
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.infoside .site-about{
    line-height: 1.5;
    margin-bottom: 15px;
}
.infoside .social{
    text-align: center;
}
.socialicon{
    font-size:22px;
    margin-left: 7px;
}
.quicklinks .qlinks{
margin-left: 20px;
}
 .qlink-li{
    margin-bottom: 8px;
}
.qlink-item{
color: #ffff;
font-size: 12px;
}
.qlink-item:hover{
    color: #0000;
    text-decoration: underline;
}
.inputf ,.inputarea ,.btn{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 20px ;
    border-radius: 8px;
    border: 1px solid#ccc;
}
.inputarea{
    color: #716868;
}
.inputf ,.inputarea :focus{
outline: none;
border: 1px solid #41658E;
}
.btn{
    background-color: #41658E;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}
.btn:hover{
    background-color: #a2bddd;
    color: #41658E;
    cursor: pointer;
}
.copyright{
    background-color: #cccc;
    color: #000;
    text-align: center;
    line-height: 3;
    text-transform: capitalize;
    font-size: 15px;
}